# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Node / JavaScript
node_modules/
npm-debug.log*

# Environment/secrets
.env
.env.*
!.env.example

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db
